# Maven build output
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Allure results and reports
allure-results/
allure-report/

# Selenium screenshots (if you store them during tests)
screenshots/
reports/
test-output/